* {
  margin: 0;
  }


.container-shadow{
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  height: auto;
  
}
.container-shadow:hover{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.inner-shadow {
  box-shadow: inset 0px 4px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: -1;
}
.inner-shadow:hover{
  box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  z-index: -1;
}


.ri
{ word-spacing: 5px;
  text-align: justify;
  font-size: 15px;
margin-top: 20px;
}

.na
{margin-top: 25px;
  height: 70%;
  width: 100%;
}
.fixed-footer{
        width: 100%;
        position: relative;        
        background: #333;
        padding: 10px;
        color: #fff;
        text-align: center;
    }
    img
    {padding: 17px;
      height: 270px;
      width: 700px;
    }
    .i{
      margin-top: 4%;
      height: 400px;
      width: 100%;
    }


/* ------------------ Section2 - Call for Papers -----------------------------------*/
.paperCall{
  margin-top: 4%;
  text-align: justify;
  
}
.paperCall h1{
  text-align: center;
}
.paperCall p{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
}
.itemAlign{
  margin-left: 10%;
}
.trackCall{
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  
}


.paperCall2{
  text-align: justify;
  
}
.paperCall2 p{
  padding-left: 5%;
  padding-right: 5%;
}
.InstituteCall{
  margin-left: 2%;
  text-align: justify;
  font-size: 15px;
}

table, th, td {
  border: 1px solid black;
}
table.center{
  margin-left: auto; 
  margin-right: auto;
}

/* registraion page ---------------------------------------------------------------------------------- */

.regContainer{
  margin-top: 5%;
  width: 100%;
  text-align: justify;
}
.regImg{
  width: 100%;
}

/***********************For Participate section pages***********************/
/***********************   Venue *********************/
.imgVenue{
  width: 100%;
  height: auto;
  
}
.location{
  width: 110%;
  height: 310px;
  align-items: center;
}




@media only screen and (max-width: 700px){
  .trackCall{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 12px;
    
  }
  .paperCall{
    margin-top: 14%;
    text-align: justify;
  }
    
  .paperCall p{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    font-size: 14px;
  }
  .paperCall2 p{
    padding-left: 5%;
    padding-right: 5%;
    font-size: 14px;
  }
  .InstituteCall{
    margin-left: 3%;
    text-align: justify;
    font-size: 10px;
  }
  .ri
  { word-spacing: 5px;
  text-align: justify;
  font-size: 14px;
  margin-top: 20px;
  }
  .location{
  width: 100%;
  height: 300px;
  align-items: center;
  }
}
/***********************************Venue*******************************************/

.ma{
  text-align: justify;
  text-justify: inter-word;
}
.ma h1{
  text-align: center;
}

.ma p{
  margin: 0px 50px 0px 30px;
  text-align: justify;
}

.he{
  text-align: left;
  margin: 0px 50px 0px 30px;
  padding: 10px 0px 10px 0px;
}
.P{
  display:inline-block;
}
.Pa{
  
  float: right;
  text-align: justify;
  text-justify: inter-word;
  font-family: 'Times New Roman', Times, serif;
  word-spacing: 3px;
  width: 817px;
  height: 270px;
  margin: 0px 0px 0px 0px;
}

.Pa h3{
  margin: 15px 10px 0px 10px;

}
.Pa p{
  font-size: 15px;
  height: 210px;
  margin: 2px 0px 0px 10px;
}


/*-----------------------------------Accomodation --------------------------------------*/


/***********************************Contact*******************************************/

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
.card:hover {
  box-shadow: 0 6px 9px 0 rgba(0, 0,0 , 0.8);
}

.title {
  color: grey;
  font-size: 14px;
}

button1 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

button1:hover, a:hover {
  opacity: 0.7;
}

/* ----------------------- Contact Page ------------------*/
.bgGrad {
  background: linear-gradient(253deg, #0cc898, #3f6bb2);
  background-size: 300% 300%;
  -webkit-animation: Background 25s ease infinite;
  -moz-animation: Background 25s ease infinite;
  animation: Background 25s ease infinite;
}

@-webkit-keyframes Background {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Background {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Background {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

.full-screen {
  background: url(images/bg.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;

}

.body-div {
  font-family: tahoma;
  background-image: url(https://picsum.photos/g/3000/2000);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #1369ce;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #1369ce;
  background-color: #f7f5ec;
}