* {
  margin: 0;
  }

.container-shadow{
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  height: auto;
  
}
.container-shadow:hover{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.ri
{ word-spacing: 5px;
  text-align: justify;
  font-size: 15px;
margin-top: 20px;
}

.na
{margin-top: 25px;
  height: 70%;
  width: 100%;
}
.fixed-footer{
        width: 100%;
        margin-top: 25px;
        position: relative;        
        background: #333;
        padding: 10px;
        color: #fff;
        text-align: center;
    }
    img
    {padding: 17px;
      height: 270px;
      width: 700px;
    }
    .i{
      margin-top: 4%;
      height: 400px;
      width: 100%;
    }


/* ------------------ Section2 - Call for Papers -----------------------------------*/
.paperCall{
  margin-top: 4%;
  text-align: justify;
  
}
.paperCall h1{
  text-align: center;
}
.paperCall p{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
}
.itemAlign{
  margin-left: 10%;
}
.trackCall{
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  
}
@media only screen and (max-width: 700px){
  .trackCall{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 12px;
    
  }
  .paperCall{
    margin-top: 14%;
    text-align: justify;
  }
    
  .paperCall p{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    font-size: 14px;
  }
  .paperCall2 p{
    padding-left: 5%;
    padding-right: 5%;
    font-size: 14px;
  }
  .InstituteCall{
    margin-left: 3%;
    text-align: justify;
    font-size: 10px;
  }
  .ri
{ word-spacing: 5px;
  text-align: justify;
  font-size: 14px;
margin-top: 20px;
}
}
.paperCall2{
  text-align: justify;
  
}
.paperCall2 p{
  padding-left: 5%;
  padding-right: 5%;
}
.InstituteCall{
  margin-left: 3%;
  text-align: justify;
  font-size: 15px;
}

table, th, td {
  border: 1px solid black;
}
table.center{
  margin-left: auto; 
  margin-right: auto;
}

/* registraion page ---------------------------------------------------------------------------------- */

.regContainer{
  margin-top: 5%;
  width: 100%;
  text-align: justify;
}
.regImg{
  width: 100%;
}

/***********************For Participate section pages***********************/
/***********************   Venue *********************/
.if{
  float: right;
  width: 1080px;
  height: 1000px;
  
}
.i{

margin: 10px 10px 10px 20px;

}
.i h2{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
.i p{
  text-align: center;
}
/************************Accommodation****************/
.ru{
  background-color: #cef8f4;
  float: right;
  width: 1080px;
}
.ru h1{
  margin: 10px 0px 20px 10px;
}

.ru h2
{
  margin: 10px 0px 20px 10px;
}
.ru p{
  
  text-align: justify;
  word-spacing: 10px;
  margin: 10px 0px 20px 35px;
}